<h1>add a new word</h1>

<form action="/words" method="post">
  <label for="wordname">your new word</label>
  <input id="wordname" name="wordname" type="text">
  <button type="submit" class="btn btn-success">add</button?
</form>
